$background-light: white;

.ant-input {
    width: 100%;
}

.ant-btn.ant-btn-icon-only {
    // background-color: $background-light;
    // border-radius: 50%;
}

.chunk-btn-group {
    text-align: center;
}

.chunk {
    background-color: $background-light;
    border-radius: 5px;
}